/*

font-family: 'Bitter', serif;
font-family: 'Kalam', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Raleway', sans-serif;
*/
body{
	margin: 0;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	background-color: #eeeeee;
}

/*Simple balise*/
h2{
	font-family: 'Bitter', serif;
}
th{
	text-decoration: underline;
}
table td{
	font-family: 'Raleway', sans-serif;
	text-transform: none;
}

/*General style*/

.container-height{
	height: 600px;
	position: relative;
	border-bottom: 2px solid #cccccc;
}


/*Top container*/
.top-container h2{
	font-family: 'Dancing Script';
}
.top-container h1{
	margin: auto 0;
}
.text-top-container{
	width: 30%;
	position: absolute;
	left: 35%;
	bottom: 50%;

}
.top-container p{
	font-family: 'Dancing Script';
}


.top-container{
	background-image: url("../images/back.jpg");
	background-size: 100%;
	
}

/*Middle container*/
.middle-container{
	
}
.skills{

}
.skills h2{

}
